
// sets the sizing of the box so it is not massive. 
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background: white;
}



// sets the stylistic elements of the timer. Identical to the characteristics of the stopwatch timer. 
.flowDisplay {
    position: relative;
    width: 40%;
    // background: #242582;
    background-color:#242582;
    left: 30%;
    padding: 30px 0;
    font-family: 'Roboto mono',monospace;
    color: white;
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,1,116,0.25);
    margin-bottom: 2vh;
}


@media screen and (max-width: 600px) {
  .flowDisplay {
    width: 80%;
    left: 10%;
    padding: 80px 0;
    font-size: 6vw;
  }
}


.breakDisplay {
  position: relative;
  width: 30%;
  // background: #242582;
  background-color: #242582;
  left: 35%;
  padding: 10px 0;
  font-family: 'Roboto mono',monospace;
  color: white;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,1,116,0.25);
  margin-bottom: 2vh;
}


@media screen and (max-width: 600px) {
  .breakDisplay {
    width: 60%;
    left: 20%;
    padding: 40px 0;
    font-size: 4vw;
  }
}

.interruptDisplay {
  position: relative;
  width: 30%;
  // background: #242582;
  background-color: #242582;
  left: 35%;
  padding: 10px 0;
  font-family: 'Roboto mono',monospace;
  color: white;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,1,116,0.25);
}

@media screen and (max-width: 600px) {
  .interruptDisplay {
    width: 60%;
    left: 20%;
    padding: 40px 0;
    font-size: 3vw;
  }
}

.buttons{
    width: 50%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.buttons button{
    width: 120px;
    height: 45px;
    // background-color: #FF577D;
    color: #ffffff;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}




@media screen and (max-width: 600px) {
  .buttons {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .buttons button{
    font-size: 4vw;
  }
}

// the control flow refers to the flow timer tracker starting and stop - meaning it is the 'Start Flow' button. It is set to green. 
#controlFlow {
  background-color: green;
}
// the break flow refers to when the user wants to take a break. This is an intentional pause. It is set to orange. 
#breakFlow {
  background-color: orange;
}

@media screen and (max-width: 600px) {
  #breakFlow {
    margin-top: 5vh;
  }
}


// this is when the user reports an external unintentional interruption. It is set to red. 
#interruptFlow {
  background-color: red;
}

// spaces out the interrupt button so it's spaced out from the break button. 
@media screen and (max-width: 600px) {
  #interruptFlow {
    margin-top: 5vh;
  }
}



// adjusts the size of the body text so it's a bigger size on the mobile screen.
  @media screen and (max-width: 600px) {
    .bodytext{
      font-size: 3vw;
  
    }
  }



// styles the title of the Flow Log so it's big yet spaced out far from the timer and buttons. 
  .flowLogTitle {
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Inter';
    color: #242582;
    text-align: center;
    margin-top: 10vh; 
    margin-left: 5vw;
    margin-right: 5vw;
    }

    // makes the font bigger on the mobile screen. 
    @media screen and (max-width: 600px) {
      .flowLogTitle{
        font-size: 5vw;
    
      }
    }



// this is similar styling to the body text. 
  .flowLog {
  font-size: 1vw;
  font-family: 'Inter';
  color: #242582;
  text-align: center;
  // margin-top: 10vh; 
  margin-left: 5vw;
  margin-right: 5vw;
  }

  // makes the font bigger on the mobile screen.
  @media screen and (max-width: 600px) {
    .flowLog{
      font-size: 3vw;
    }
  }
