

  
  // this sets the style of the image to fit the entire screen
  
  .broadimage {
    width: 100vw;
    margin-bottom:8vh;
  }
  
  
  // this makes the header mobile responsive as when the page loads on a smaller screen or on a mobile phone, 
  // the header text is enlarged.
  @media screen and (max-width: 600px) {
    .header {
    font-size: 5vw;
    }
  }
  
  
  

  
  // these are the stylistic elements of the body text. The font for all text is 'Inter' as it is a simple
  // yet clean font. The margins are set so there is a reasonable amount of spacing between the body text and the header 
  // text. 
  .bodytext {
  font-size: 1.5vw;
  font-family: 'Inter';
  text-align: center;
  margin-bottom: 5vh; 
  margin-left: 5vw;
  margin-right: 5vw;
  
  }
  
  @media screen and (max-width: 600px) {
    .bodytext {
      font-size: 3vw;
    }
  }

  


  
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  canvas {
    position: fixed;
    top: 0;
    z-index: -1;
  }
  
  
  

  //nav bar
  @media screen and (max-width: 600px) {
    .imagejoin {
      width: 80vw;
    }
  }
  
  
  
  
  
  .current {
   background-color: #F64C72; 
  }
  
  
 nav > ul {
   grid-area: nav; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 5vh;
 background-color: #242582;
   }
  
  nav > ul > li {
    float: left;
  }
  
 nav > ul > li a {
    font-family: 'Inter';
    color: white;
    font-size: 1.5vw;
    display: block;
    padding: 13px 16px;
    text-decoration: none;
    // animation: fall linear;
    // animation-duration: 0.5s;
  }
  
  
  
  // @keyframes fall {
  // 0% {
  //   transform:translateY(-100px);
  
  // }
  
  
  // 100% {
  // transform:translateY(0px);
  // }
  // }
  
  
  
  // @media screen and (max-width: 600px) {
  //   nav > ul > li a {
  //     font-size: 2vw;
  //   }
  // }
  
  
 nav > ul > li a:hover {
  background-color: #B3EAEA;
   }
  
 .navimage {
  max-width:3.5vw;
  margin-right: 2vw;
  margin-left: 0.5vw;


  //  animation: fall linear;
  // animation-duration: 0.5s;
 }
  
  
   @media screen and (max-width: 600px) {
     .navimage {
     max-width: 15vw;
  }
   }