

  // this sets the style of the image to fit the entire screen
  
  .broadimage {
    width: 100vw;
    margin-bottom:8vh;
  }
  
  
  // .main {
  // position: relative;
  // width: 100%;
  //  }
  
  // .header {
  // font-size: 3vw;
  // text-align: center;
  // font-family: 'Inter';
  // color: yellow;
  // margin-bottom: 8vh;
  // /* margin-top: 8vh;  */
  // }
  
  
  // @media screen and (max-width: 600px) {
  //   .header {
  //   font-size: 8vw;
  //   }
  // }
  
  
  
  // @media screen and (max-width: 600px) {
  //   .animatedheader {
  //   font-size: 8vw;
  //   }
  // }
  
  
  
  .bodytext {
  font-size: 1.5vw;
  font-family: 'Inter';
  text-align: center;
  margin-bottom: 5vh; 
  margin-left: 5vw;
  margin-right: 5vw;
  
  }
  
  .lefttext {
  font-size: 1.5vw;
  font-family: 'Inter';
  text-align: left;
  color: #242582;
  margin-left: 3vh;
  margin-bottom: 5vh; 
  margin-top: 5vh;
  
  }
  
  
  // @media screen and (max-width: 600px) {
  //   .bodytext {
  //     font-size: 5vw;
  //   }
  // }
  
  footer {
    overflow: hidden;
    font-family: 'Inter';
    text-align: center;
    background-color: #242582;
    font-size: 2vw;
    width: 100%;
    height: 50px;
  } 
  
  
  
  // @media screen and (max-width: 600px) {
  //   .subheading {
  //     font-size: 7vw;
  //   }
  // }
  
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  canvas {
    position: fixed;
    top: 0;
    z-index: -1;
  }
  
  
  

  //nav bar
  @media screen and (max-width: 600px) {
    .imagejoin {
      width: 80vw;
    }
  }
  
  
  
  
  
  .current {
   background-color: #F64C72; 
  }
  
  
 nav > ul {
   grid-area: nav; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 5vh;
 background-color: #242582;
   }
  
  nav > ul > li {
    float: left;
  }
  
 nav > ul > li a {
    font-family: 'Inter';
    color: white;
    font-size: 1.5vw;
    display: block;
    padding: 13px 16px;
    text-decoration: none;
    animation: fall linear;
    animation-duration: 0.5s;
  }
  
  
  
  @keyframes fall {
  0% {
    transform:translateY(-100px);
  
  }
  
  
  100% {
  transform:translateY(0px);
  }
  }
  
  
  
  @media screen and (max-width: 600px) {
    nav > ul > li a {
      font-size: 2vw;
    }
  }
  
  
 nav > ul > li a:hover {
  background-color: #B3EAEA;
   }
  
 .navimage {
  max-width:5vw;
   animation: fall linear;
  animation-duration: 0.5s;
 }
  
  
   @media screen and (max-width: 600px) {
     .navimage {
     max-width: 15vw;
  }
   }