* {
    box-sizing: border-box;
  }
  




  body {
    font-family: 'Inter';
  }
  
  // the items are added below each other as they are submitted.
  .rlist_container {
    width: 1000px;
    display: flex;
    align-items: stretch;
    flex-direction: column-reverse;
  }
  
  .status {
    width: 25%;
    position: relative;
    padding: 60px 1rem 0.5rem;
  }
  

  // make a circular add button 
  #add_btn {
    padding: 0.5rem 1rem;
    background-color: #242582;
    border-radius: 50%;
    color: white;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 1.5vw;
    margin: 0.5rem 0;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    #add_btn {
      font-size: 5vw;
    }
  }

// style the button that opens all the links. Make it consistent to the other buttons on the task list page. 
#open_all_btn {
  padding: 0.5rem 1rem;
  background-color: #242582;
  color: white;
  outline: none;
  border: none;
  width: 10%;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  cursor: pointer;
}
// make the button fit the mobile screen.
@media screen and (max-width: 600px) {
  #open_all_btn  {
    font-size: 2.5vw;
    width: 20%;
  }
}

// changes colour upon hovering.
  #add_btn:hover {
    background-color: #0B0EE3;
  }
  
  // reading list item given a blue underline and border so it is obvious it is a link.
  .rlistitem {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    box-shadow: #0000ff 0px 0px 0px 1px,
    #0000ff 0px 2px 4px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1.5vw;
    color: #0000ff; 
    margin: 0.5rem 0;
    text-decoration: underline;
    height: 3rem;
  }

  @media screen and (max-width: 600px) {
    .rlistitem {
      max-width:40%;
      font-size: 3vw;
      height: 5rem;
    }
  }
  

  .rlistitem .close {
    position: absolute;
    right: 1rem;
    top: 0rem;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
  }
  
  .rlistitem .close:hover {
    color: red;
  }

  // style the popout button so it is on the right-hand side of the item.
  .rlistitem .popout {
    position: absolute;
    right: 3rem;
    top: 0rem;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
  }
  
  .rlistitem .popout:hover {
    color: blue;
  }

  .rlistitem .edit {
    position: absolute;
    right: 5rem;
    top: 0rem;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
  }
  
  .rlistitem .edit:hover {
    color: yellow;
  }


  // modal //
  

  
  .modal {
    width: 450px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 20px;
    z-index: 2;
    background-color: #fff;
  }

  // @media screen and (max-width: 600px) {
  //    .modal {
  //     left: 50%;
  //   }
  // }
  
  .modal.active {
    top: 50%;
  }
  
  .modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .modal .body {
    padding: 0.75rem;
  }
  
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  
  }
  
  #overlay.active {
    display: block;  }
  
  .rlist_input_text
  {
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;
  }
  
  #rlist_submit {
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;

  }
  
  #rlist_submit {
    background-color: #242582;
    color: #f3f3f3;
    font-size: 1.25rem;
    border: none;

  }

  .bodytext {
    font-size: 1vw;
    font-family: 'Inter';
    color: #242582;
    text-align: center;
    margin-bottom: 5vh; 
    margin-left: 5vw;
    margin-right: 5vw;
    
    }
  
  
    // makes the text a bigger size when looking on the mobile phone.
    @media screen and (max-width: 600px) {
      .bodytext {
        font-size: 3vw;
      }
    }




    