

* {
    box-sizing: border-box;
  }
  
  // style the header so it's bigger than the other writing and in the centre.
  .header {
    font-size: 2vw;
    text-align: center;
    font-family: 'Inter';
    color: #242582;
    margin-top: 5vh;
    display: flex; 
    justify-content: center;
    /* margin-top: 8vh;  */
    }

// this is the title when the modal pops up. 
  .task-header {
    font-size: 1vw;
    text-align: center;
    font-family: 'Inter';
    color: #242582;
    margin-bottom: 0.5vh;
  }

  .title {
    font-size: 1.5vw;
  }

  @media screen and (max-width: 600px) {
    .title {
      font-size: 5vw;
    } 
  }

  

  // style the input titles when the modal pops up.
  body {
    font-family: "Inter";
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  // style the columns and give them a pink border. 
  .todo-container {
    width: 100%;
    height: 70vh;
    display: flex;
    border: 1px solid #F64C72;
  }

  // make the container mobile responsiveness by fitting the width and the height to the screen size.
  @media screen and (max-width: 600px) {
    .todo-container {
      width: 100%;
      height: 70vh;
    } 
  }


  
  // style the columns. 
  .status {
    width: 25%;
    background-color: #FE7C99;
    position: relative;
    padding: 60px 1rem 0.5rem;
  }


  
  // change the colour of every even column to a lighter pink. 
  .status:nth-child(even) {
    background-color: #FFA4B8;
  }
  
  // style the top column where the status headings are located. Give them a blue border so they stand out and make sure 
  // they're located in the centre of the page.
  .status h1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F64C72;
    border: 1.5px solid #242582;
    color: #f3f3f3;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1vw;
    cursor: pointer;
  }

  // make all the headings fit the mobile screen.
  @media screen and (max-width: 600px) {
    .status h1 {
      font-size: 1.5vh;
    } 
  }
 
  @media screen and (max-width: 600px) {
    .header {
      font-size: 4vh;
    }
  }


  // make a big button for the 'Add Column' option.
  #add_column_btn {
    padding: 0.5rem 1rem;
    background-color: #242582;
    color: white;
    outline: none;
    border: none;
    width: 9%;
    font-size: 1vw;
    margin: 0.5rem 0;
    border-radius: 4px;
    cursor: pointer;
  }

  // change the colour of the button when hovered over. 
  #add_column_btn:hover {
    background-color: #0B0EE3;
  }
  

  @media screen and (max-width: 600px) {
    #add_column_btn {
      font-size: 2.5vw;
      width: 20%;
    } 
  }


  // this is the '+ Add Task' button. It is set to blue with white writing. The cursor changes to a pointer when 
  // it hovers so it looks like a button.
  #add_btn {
    padding: 0.5rem 1rem;
    background-color: #242582;
    color: white;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    cursor: pointer;
  }
 
  @media screen and (max-width: 600px) {
    #add_btn {
      margin: 0rem 0;
      font-size: 2.5vw;
    } 
  }

  // the button changes to a lighter blue when hovered over.
  #add_btn:hover {
    background-color: #0B0EE3;
  }


  

  // this is the contents inside the specific task. It is set to fit the writing spaced evenly. There is a shadow
  // to make it look 3D.
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 2vh;
    margin: 0.5rem 0;
    
  }

  @media screen and (max-width: 600px) {
    .bodytext {
     text-align: center;
     
    } 
  }

  
  // this is the cross next to the task where they can be deleted. It is set to a small size and positioned next to the writing.
  .todo .close {
    position: absolute;
    right: 1rem;
    top: 0rem;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
  }

  //when the user hovers over the 'x' it changes to a dark grey colour. 
  .todo .close:hover {
    color: #343444;
  }
  
  
  // set the style features for the modal. the animation is set so it slides down from the top of the screen.
  .modal {
    width: 450px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 2;
    background-color: #fff;
  }
  
  
  .modal.active {
    top: 50%;
  }
  
  // style the header of the pop up. 
  .modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .modal .body {
    padding: 0.75rem;
  }
  
  // this makes sure the page is darker when the modal is clicked so the user isn't distracted.
   #overlay {
     display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  
  }
  
  #overlay.active {
    display: block;  }
  

    
  .todo_input_text
  {
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;
  }
  

  

  // set the style features of the submit button.
  #todo_submit {
    background-color: #242582;
    color: #f3f3f3;
    font-size: 1.25rem;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;


  }